*{
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#formulario{
    border: 1px solid #222;
    width: 70%;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: space-around ;
}